@using MvcCv.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Hesaplarım</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>  
                                            <th>Durum</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                           
                                            <tr>
                                                <td>@x.ID</td>
                                                <td>@x.Ad</td>
                                                <td class="@(x.Durum == true ? "text-success" : "text-danger")">
                                                    @(x.Durum == true ? "Aktif" : "Pasif")
                                                </td>
                                                <td><a href="/SosyalMedya/Sil/@x.ID" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/SosyalMedya/SayfaGetir/@x.ID" class="btn btn-outline-warning">Düzenle</a></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <br />
                                <td><button class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekle</button></td>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
       
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title"> Sosyal Medya Hesabı Ekleme Pencerisi</h2>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle/">
                        <div class="modal-body">
                            <lable>Sosyal Medya Adı</lable>
                            <input type="text" name="Ad" class="form-control" />
                            <br />
                            <lable>Sosyal Medya Linki</lable>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <lable>Sosyal Medya İkon</lable>
                            <input type="text" name="İkon" class="form-control" />
                            <br />
                            <button class="btn btn-outline-info" >Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
