
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>

<br />
<h1 style="color:burlywood">Merhaba Dünya</h1>

<a class="btn btn-warning" href="/Home/Test2">Test2 ye git</a>